<div class="wrapper">


  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">

<h1 class="text-danger">New cocktail</h1>
</div>
    </div>
    <div class="row">

      <div class="col-xs-4 col-xs-offset-4">


        <%= render 'form' %>
      </div>

    </div>
  </div>
</div>
